.room-twilight {
  background-image: url("/img/Room2.png");

  .lyrics-box {
    top: 70px;
    left: auto;
    right: 170px;

    &.show {
      transform: translateX(0) translateY(0) scale(1.5);
    }
  }
}
