.room-joy {
    background-image: url('/img/Room4.png');
    background-size: cover;
    background-position: center;

    .lyrics-box {
        left: 250px;
        width: 750px;
    }
}

.character--angel4 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 800px;
    filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.8));
    z-index: 5;

    .character__image {
        background-image: url('/img/angel-4.png');
        transform: translate(-50%, -50%) scale(1);
    }

    &.show .character__image {
        transform: translate(-50%, -50%) scale(1);
    }
}

// Host angels wrapper - center the entire group
.host-angels-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    pointer-events: none;

    .character {
        position: absolute;
    }
}

// Back layer host angels (lower, behind angel 4)

.character--joy-host-back-left {
    left: 15%;
    top: -5%;
    transform: translate(-50%, -50%) !important;
    width: 700px;
    height: 500px;
    filter: drop-shadow(0 0 18px rgba(255, 255, 255, 0.4));
    z-index: 2;
    animation: character-float 9s ease-in-out infinite;

    &.show {
        opacity: 0.45;
    }

    .character__image {
        background-image: url('/img/heavenly host.png');
        transition: none !important;
    }

    &.show .character__image {
        transform: translate(-50%, -50%) scale(0.9) !important;
    }
}

.character--joy-host-back-right {
    right: 15%;
    top: -5%;
    transform: translate(50%, -50%) !important;
    width: 700px;
    height: 500px;
    filter: drop-shadow(0 0 18px rgba(255, 255, 255, 0.4));
    z-index: 2;
    animation: character-float 9s ease-in-out infinite;

    &.show {
        opacity: 0.45;
    }

    .character__image {
        background-image: url('/img/heavenly host.png');
        transition: none !important;
    }

    &.show .character__image {
        transform: translate(-50%, -50%) scaleX(-0.9) !important;
    }
}

// Front layer host angels (higher, in front of back angels but behind angel 4)

.character--joy-host-front-left {
    left: 15%;
    top: 5%;
    transform: translate(-50%, -50%) !important;
    width: 700px;
    height: 500px;
    filter: drop-shadow(0 0 18px rgba(255, 255, 255, 0.5));
    z-index: 4;
    animation: character-float 8s ease-in-out infinite;
    animation-delay: 1s;

    &.show {
        opacity: 0.5;
    }

    .character__image {
        background-image: url('/img/heavenly host.png');
        transition: none !important;
    }

    &.show .character__image {
        transform: translate(-50%, -50%) scale(0.95) !important;
    }
}

.character--joy-host-front-right {
    right: 15%;
    top: 5%;
    transform: translate(50%, -50%) !important;
    width: 700px;
    height: 500px;
    filter: drop-shadow(0 0 18px rgba(255, 255, 255, 0.5));
    z-index: 4;
    animation: character-float 8s ease-in-out infinite;
    animation-delay: 1s;

    &.show {
        opacity: 0.5;
    }

    .character__image {
        background-image: url('/img/heavenly host.png');
        transition: none !important;
    }

    &.show .character__image {
        transform: translate(-50%, -50%) scaleX(-0.95) !important;
    }
}
