.character {
    position: absolute;
    pointer-events: auto;
    cursor: grab;
    z-index: 4;
    animation: character-float 7s ease-in-out infinite;
    animation-play-state: paused;
    transition: opacity 1.6s ease;
    opacity: 0;

    &.show {
        opacity: 1;
        animation-play-state: running;

        .character__image {
            transform: scale(1);
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transform: scale(0.75);
        transition: transform 1.6s ease;
    }
}

.character--gabriel {
    left: 8%;
    top: 25%;
    width: 480px;
    height: 840px;
    filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.7));

    .character__image {
        background-image: url('/img/gabriel.png');
    }
}

.character--host {
    left: calc(2% + 100px);
    top: 18%;
    width: 700px;
    height: 500px;
    filter: drop-shadow(0 0 18px rgba(255, 255, 255, 0.55));
    z-index: 3;
    animation: character-float 9s ease-in-out infinite;

    &.show {
        opacity: 0.55;
    }

    .character__image {
        background-image: url('/img/heavenly host.png');
        transform: scale(0.9);
    }
}


.character--host--alt {
    left: calc(2% - 150px);

    &.show {
        opacity: 0.55;
    }

    .character__image {
        background-image: url('/img/heavenly host.png');
        transform: scaleX(-0.9);
    }

    &.show .character__image {
        transform: scaleX(-1);
    }
}

@keyframes character-float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(8px);
    }
}